<nav id="navbar">
  <p>Quill</p>
</nav>
<div class="container">
  <div class="row pt-5">
    <div class="col-md-8">
        <form>
          <div class="form-group">
            <label for="editor"><h3 id="intro">Escribe y edita a tu manera</h3></label>
            <quill-editor  (onEditorChanged)="changedEditor($event)"></quill-editor>
          </div>
          <button class="btn-submit">Enviar</button>

        </form>
    </div>

    <h3 class="text-escrito">TU TEXTO ES</h3>
    <div id="texto-editado">
      <p [innerHTML]="editorText"></p>
    </div>

  </div>
</div>

